<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
            <param-name>authority</param-name>
            <param-value>https://login.microsoftonline.com/</param-value>
        </context-param>
      <context-param>
            <param-name>tenant</param-name>
            <param-value>eefd08c5-9af2-4662-b088-1e3d85dd10d5</param-value>
        </context-param>
        <context-param>
            <param-name>client_id</param-name>
            <param-value>163609d8-b4d4-4b7c-83da-d81e970cf647</param-value>
        </context-param>
        <context-param>
            <param-name>secret_key</param-name>
            <param-value>SemcLzLq/F7JgKUwsmwsDQ5wCZgTdmbSEbgnHwef7Jo=</param-value>
        </context-param>
        <context-param>
            <param-name>javax.security.auth.login.LoginContext</param-name>
            <param-value>AzureAD-Login</param-value>
        </context-param>        
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>AzureAD Resource</web-resource-name>
            <url-pattern>/secure/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>standard</role-name>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>

    <security-role>
        <role-name>standard</role-name>
    </security-role>
    <security-role>
        <role-name>admin</role-name>
    </security-role>    
    
    <!--
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>com.yoshio3.filter.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/faces/secure/*</url-pattern>
    </filter-mapping>
    -->
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>faces/index.xhtml</welcome-file>
    </welcome-file-list>
</web-app>